<form {{action 'guardar' on="submit"}} style="margin-top:165px">
	<p>Nombre: {{input type="text" value=admin.name required=true}}</p>
	<p>Apellido: {{input type="text" value=admin.lastName required=true}}</p>
	<p>Correo: {{input type="email" value=admin.email required=true}}</p>
	<button type="button" {{action 'cancelar'}}>Canelar</button>
	<button>{{buttontext}}</button>
</form>