<form {{action "guardar" on="submit"}}> 
	<p>Nombre: {{input type="text" value=model.name}}</p>
	<p>Apellidos: {{input type="text" value=model.lastName}}</p>
	<p>Correo: {{input type="email" value=model.email}}</p>
	<button>Guardar</button>
	<button type="button" {{action 'cancelar'}}>Cancelar</button>
</form>

