<style>
    .h70 {
        height: 120px;
    }
</style>

<form class="row" {{action 'guardar' on="submit"}}>
    <div class="col s10">
        <div class="row">
            <div class="col s4">
                <label>Tema</label>
            </div>
            <div class="col s8">
                {{input type="text" value=model.subject class="input-tlc"}}
            </div>
        </div>
    </div>
    <div class="col s10">
        <div class="row">
            <div class="col s4">
                <label>Comentarios</label>
            </div>

        </div>
        <div class="col s12 p-0">
            {{textarea value=model.comments class="input-tlc h70" rows=10}}
        </div>
    </div>
    <div class="col s10">
        <button>Reservar</button>
    </div>
    
</form>
<div class="row">
    <div class="col s12 h2" style="margin-top:10px">
        Profesor a elegir

    </div>
    <div class="col s12 font-tlc">
        buscar por nombre o asignatura
    </div>
    <div class="col s12" style="margin-top:10px; ">
        {{input id="search" placeholder="Search" class="col s8 input-tlc "}}<i class="material-icons col s2 valign-wrapper"
            style="height:44px">search</i>

    </div>
</div>
<div class="row">
    {{#each teachers as |teacher|}}
    <div class="col s4" {{action 'selectTeacher' teacher on="click"}}>
        <div class="card horizontal {{if (eq selectedTeacher teacher) 'selected'}}">
            
            <div class="card-stacked">
                <div class="card-content row valign-wrapper" style="margin-bottom:0px">
                    <div class="col s4">
                         <img src="https://www.weact.org/wp-content/uploads/2016/10/Blank-profile.png" class="circle responsive-img">
                    </div>
                    <div class="col s8" >
                         <p class="font-tlc" style="font-size:12px">{{teacher.name}} {{ teacher.lastName}}</p>

                    </div>
                   
                   
                </div>
                
            </div>
        </div>

    </div>
    {{/each}}
</div>