<style>
    .h70{
        height: 120px;
    }
</style>
<div class="row ">

    <form class="row" {{action 'guardar' on="submit"}}>
        <div class="col s8">
            <div class="row">
                <div class="col s4">
                    <label>Materia</label>
                </div>
                 <div class="col s8">
                      {{input type="text" value=model.subject class="input-tlc"}}
                 </div>
            </div>
        </div>
        
        <div class="col s8">
            <div class="row">
                <div class="col s4">
                    <label>Pregunta</label>
                </div>
                 <div class="col s8">
                      {{input type="text" value=model.text class="input-tlc"}}
                 </div>
            </div>
        </div>
        <div class="col s8">
            <div class="row">
                <div class="col s4">
                    <label>Descripción</label>
                </div>
                
            </div>
            <div class="col s12 p-0">
                {{textarea value=model.description class="input-tlc h70" rows=10}}
            </div>
        </div>
        <div class="col s8 center-align" style="margin-top:30px">
            {{#unless model.isNew}}
                <button {{action 'borrar'}}class="waves-effect waves-light btn  red darken-2 rounded-btn ">Borrar</button>


            {{/unless}}
            <button class="waves-effect waves-light btn  blue lighten-1 rounded-btn ">{{if model.isNew 'Publicar' 'Guardar'}}</button>
            
        </div>
        
        
    </form>
    

</div>