
<br><br><br><br><br><br>

<div class="row" class="padre-container">
	<div class="col s8 m7 l6" style="display: inline-block;">
		<p style="font-size: 30px">{{model.name}} {{model.lastName}}</p>
	</div>
	<div class="col s1 m1 l2" style="display: inline-block; margin-left:600px;">21 de junio de 2018</div>
	<div class="col s3 m4 l5">
		<p class="balance_saldos">Saldo a pagar</p> <p class="balance_saldos_numeros">${{model.totalDebts}}</p>
		<br>
		<p class="balance_saldos">Saldo por vencer</p> <p class="balance_saldos_numeros">$0</p>
		<br>
		<p class="balance_saldos">Saldo total</p> <p class="balance_saldos_numeros">${{model.totalDebts}}</p>
		<a class="botones">pagar</a>
	</div>
	<div class="col s6 m6 l6" class="index_tarjeta">
		<table>
			<tr>
				<th>FECHA</th>
				<th>DESCRIPCIÓN</th>
				<th>CARGO</th>
				<th>ABONO</th>
				<th>SALDO</th>
			</tr>

			{{#each model.payments as |payment|}}
			<tr>
				<td>{{payment.pDate}}</td>
				<td>{{payment.description}}</td>
				<td>${{payment.amount}}</td>
				<td>${{payment.deposit}}</td>
				<td>${{payment.balance}}</td>
			</tr>
			{{else}}
				<h3>No se ha hecho ningún pago.</h3>
			{{/each}}
		</table>
		
	</div>

</div>
  

  <script type="text/javascript">
  	 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems, options);
  });
  </script>
 
