<style type="text/css">
  .topDistance {
  	width:100%;
  	position: absolute;
    margin-top: 225px;
    /* height: 95vh; */
    /* overflow-y: scroll; */
  }

  .roundedButton {
  	border-radius: 10px;
  	text-align:center;
  }

  .inButtonCenter {
  	margin:auto;
  }
</style>

<div class="row topDistance">
  {{#link-to 'admin.index' class="col s1 offset-s1 roundedButton"}}
    <br>
    <img src="/media/admin-button.svg">
  {{/link-to}}
  <div class="col s8 offset-s1">
    <div class="row">
      {{#link-to 'admin.cursos.clases' class="col s4 offset-s8"}}
        <div class="card-panel roundedButton indigo lighten-1">
            <h4 class="white-text inButtonCenter">Clases</h4>
        </div>
      {{/link-to}}
    </div>

    <br><br>

    <div class="row">
      <div class="col s4">
        {{admin-course-card colorBg='orange darken-1'}}
      </div>
      <div class="col s4">
        {{admin-course-card colorBg='deep-purple lighten-1'}}
      </div>
      <div class="col s4">
        {{admin-course-card colorBg='cyan lighten-1'}}
      </div>
      <div class="col s4">
        {{admin-course-card colorBg='green darken-1'}}
      </div>
      <div class="col s4">
        {{admin-course-card colorBg='deep-orange lighten-1'}}
      </div>
      <div class="col s4">
        {{admin-course-card colorBg='amber lighten-1'}}
      </div>
    </div>
  </div>
</div>
