{{link-to 'nuevo' 'padre.hijos.nuevo' }}


<table style="width:100%">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Acciones</th>
  </tr>

  {{#each model.kids as |hijo|}}

  <tr {{action 'ver' hijo}}>

    <td>{{hijo.name}}</td>
    <td>{{hijo.lastName}}</td>
    <td>{{link-to 'Editar' 'padre.hijos.editar' hijo.id}}<button {{action "delete" hijo}} >Borrar</button></td> 

  </tr>

{{/each}}
</table>

