{{#ember-wormhole to="title"}}
PADRE
{{/ember-wormhole}}

{{outlet}}

<br>
<div class="padre" >
	<div class="row">
		<div class="inicio col s6 offset-s2 m6 offset-m3">
		{{link-to  "PADRE" "padre.balance" class="waves-effect waves-light btn"}} <br><br>
		 {{link-to  "HIJOS" "padre.hijos" class="waves-effect waves-light btn"}} <br> <br>
		 {{link-to  "ASESORIAS" "padre.asesorias" class="waves-effect waves-light btn"}} <br><br> 
		 {{link-to  "PROFESORES" "padre.profesores" class="waves-effect waves-light btn"}} <br><br>
		 {{link-to  "QUEJAS" "padre.quejas" class="waves-effect waves-light btn"}} <br><br>
		 {{link-to  "BECAS" "padre.becas" class="waves-effect waves-light btn"}} <br> <br>
		 {{link-to  "KITS" "padre.kits" class="waves-effect waves-light btn"}} <br> <br>
		
	
	</div>

	</div>
	

</div>

