{{#ember-wormhole to="title"}}
Administradores
{{/ember-wormhole}}
{{outlet}}
{{link-to 'nuevo' 'dueno.administradores.nuevo' }}

<div class="main-content" style="margin-top: 160px">
  <br>
  <br>
  <br>

<button {{action 'nuevo'}}>Nuevo</button>

<table style="width:100%">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Acciones</th>
  </tr>
  {{#each model as |cuenta|}}
  <tr>
    <td>{{cuenta.name}}</td>
    <td>{{cuenta.lastName}}</td>
    <td>{{link-to 'Editar' 'dueno.administradores.editar' cuenta.id}}<button {{action "delete" cuenta}} >Borrar</button></td> 

    
  </tr>
  {{/each}}
</table>

</div>