{{outlet}}
TEXTO: {{texto}}
<br>
<a href='' {{action 'alerta' 'HOLA'}}> Alerta, no tocar </a>
<br>
<button {{action 'alerta' 'Adios'}}>HOLA</button>
<br>
<div {{action 'alerta' 'bye' on='click' }}>HOLA</div>
Has dado click: {{clicks}} veces
<br>
<button {{action 'resta' }}>-</button>
Numero: {{numero}}
<button{{action 'suma'}}>+</button>
<br>
<button {{action 'calcular' '1'}}>1</button>
<button {{action 'calcular' '2'}}>2</button>
<button {{action 'calcular' '3'}}>3</button>
<br>
<button {{action 'calcular' '4'}}>4</button>
<button {{action 'calcular' '5'}}>5</button>
<button {{action 'calcular' '6'}}>6</button>
<br>
<button {{action 'calcular' '7'}}>7</button>
<button {{action 'calcular' '8'}}>8</button>
<button {{action 'calcular' '9'}}>9</button>
<br>
<button {{action 'borrar'}}>BORRAR</button>
<button {{action 'calcular' '0'}}>0</button>